$corDeFundo: #040714;
$corTextoPrincipal: rgb(143, 143, 143);
$corTextoSecundario: #ffffff;
$corTextoTres: #ffbb00;
$corDeFundoBotaoPrimario: #fff021;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;